[user]
	name = Vladyslav \"coirius\" Chyzhevskyi
	email = coirius@coirius.com
[core]
	editor = vim
	excludesfile = /home/coirius/.gitignore.global
[color]
	diff = auto
	status = auto
	branch = auto
	ui = auto
